body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 2em;
    background-color: #B4CF66;
}

img {
    height: 200px;
}

nav {
    padding: 16px;
    border-bottom: 1px #146152 solid;
    background-color: #FF5A33;
}

th {
    text-align: left;
}

a, u {
    text-decoration: none;
}

.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
